<nav class="head-navigation-bar bg-theme navbar navbar-expand-sm py-1 sticky-top">
    <div class="container-fluid justify-content-start">
        <a class="navigation-bar-logo col-4 col-xl-2 px-1 px-xl-4 text-start text-xl-end" href="#">Fotobook</a>
        <div class="me-auto py-1 order-4 order-xl-2">
            <input type="search" placeholder="Search Photo / Album">
        </div>
        
        <a class="navigation-bar-profile d-flex align-items-center py-1 ms-auto ms-xl-0 me-3 me-xl-5 order-2 order-xl-3" href="/profile/photos">
            <div class="profile-picture-container bg-light color-theme me-2">
                NP
            </div>
            <div>Nhan Pham</div>
        </a>
        <a class="navigation-bar-inout pe-2 order-3 order-xl-4" href="login.html">Logout</a>
        <button class="btn border order-5 d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapSideBar" aria-expanded="false" aria-controls="collapSideBar">
            <img src="/icon/menu-2-white.svg" alt="menu-icon">
        </button>                
    </div>
</nav>

        

<div class="main-background container-fluid">
    <div class="row pb-3">

        <!-- Side bar -->
        <div class="sideBar col-xl-2 mt-xl-3 d-xl-block position-fixed collapse bg-theme01" id="collapSideBar">
            <div class="d-flex flex-column align-items-center">
                <div class="py-2">
                    <%= render partial: "partials/blocks/side_bar", locals: {tab: "feeds"} %>
                </div>
            </div>                    
        </div>


        <!-- Inside the feed -->
        <div class="col-xl-8 mx-auto mt-3 bg-light row row-cols-1 justify-content-center">
            <!-- Buttons -->
            <div class="py-2 d-flex justify-content-center">
                <a type="button" class="btn btn-primary bg-theme">PHOTO</a>
                <a type="button" class="btn btn-outline-primary color-theme" href="/feeds/feeds_albums">ALBUM</a>
            </div>
            <!-- List of feeds -->                    
            <div class="container">
                <div class="row row-cols-1 row-cols-xl-2 g-2">
                    <!--  -->
                    <% @photos.each do |pho| %>

                        <div class="col">
                            <div class="feed-item d-flex border shadow-sm">
                                <!-- Image -->
                                <% if pho.image.representable? %>
                                    <%= image_tag pho.image, class: "feed-item-picture p-0", data: {bs_toggle: "modal", bs_target: ("#feedModal-" + pho.id.to_s)} %>
                                <% else %>
                                    <img alt="png" class="feed-item-picture p-0" data-bs-toggle="modal" data-bs-target="#feedModal">
                                <% end %>
                                <!-- info -->
                                <div class="flex-grow-1 p-2 d-flex flex-column">
                                    <!-- user name -->
                                    <%= link_to("/passthrough/go_to_public_profile/" + pho.user_id.to_s, method: :get, class: "d-flex align-items-center profileLink") do %>
                                        <div class="profile-picture-container bg-theme text-white me-2 ">
                                            NP
                                        </div>
                                        <div class="color-theme">
                                            <%= pho.user.fname + " " + pho.user.lname %>
                                        </div>
                                    <% end %>
                                    <!-- photo title -->
                                    <div class="feed-item-title py-1">
                                        <%= pho.title %>
                                    </div>
                                    <!-- photo description -->
                                    <div class="feed-item-discription flex-grow-1">
                                        <%= pho.description %>
                                    </div>
                                    <!-- footer -->
                                    <div class="d-flex justify-content-between mt-1">
                                        <!-- Heart -->
                                        <span>
                                            <!-- Like/Unlike button -->
                                            <% lp = pho.like_photos.where(user_id: current_user.id, photo_id: pho.id).first %>
                                            <%= render partial: "partials/buttons/like", locals: {liked: (lp ? true : false), object_type: "photo", object_id: pho.id} %>
                                            <!-- Number of likes -->
                                            <span class="feed-item-footnote">
                                                <%= pho.like_photos_count.nil? ? 0 : pho.like_photos_count %>
                                            </span>
                                        </span>
                                        <!-- Create time -->
                                        <span class="feed-item-footnote"> <%= pho.created_at %> </span>
                                    </div>
                                </div>
                            </div>                                
                        </div>

                    <% end %>
                </div>
            </div>


            
            <!-- Pagination -->
            <div>
                <ul class="pagination justify-content-center mb-0 py-2">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
            

        </div>
    </div>
</div>



<!-- Feed item modal -->
<% @photos.each do |pho| %>
    <div class="modal modal-center fade" id=<%= "feedModal-"+pho.id.to_s %> tabindex="-1" aria-labelledby="feedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedModalLabel">
                        <%= pho.title %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid text-center">
                        <% if pho.image.representable? %>
                            <%= image_tag pho.image, alt: "png", class: "feed-item-picture-modal" %>
                        <% end %>
                    </div>                        
                </div>
                <div class="modal-footer">
                    <%= pho.description %>
                </div>
            </div>
        </div>
    </div>
<% end %>