<%= render partial: "partials/blocks/navi_bar" %>


<div class="main-background container-fluid">
    <div class="row pb-3">

        <!-- Side bar -->
        <div class="col-xl-2 mt-xl-3 d-xl-block position-fixed collapse bg-theme01" id="collapSideBar">
            <div class="d-flex flex-column align-items-center">
                <div class="py-2">
                    <%= render partial: "partials/blocks/side_bar", locals: {tab: "feeds"} %>
                </div>                        
            </div>                    
        </div>


        <!-- Inside the feed -->
        <div class="col-xl-8 pb-3 mx-auto mt-3 bg-light row row-cols-1 justify-content-center">
            <!-- Buttons -->
            <div class="py-2 d-flex justify-content-center">
                <a type="button" class="btn btn-outline-primary color-theme" href="/feeds/feeds_photos">PHOTO</a>
                <a type="button" class="btn btn-primary bg-theme">ALBUM</a>
            </div>
            <!-- List of feeds -->                    
            <div class="container">
                <div class="row row-cols-1 row-cols-xl-2 g-2">
                    <!--  -->
                    <% @albums.each do |al| %>

                        <div class="col">
                            <div class="feed-item d-flex border shadow-sm">
                                <!-- Image -->
                                <% if al.images[0].representable? %>
                                    <%= image_tag al.images[0], class: "feed-item-picture p-0", data: {bs_toggle: "modal", bs_target: ("#feedAlbumModal_" + al.id.to_s)} %>
                                <% else %>
                                    <img alt="png" class="feed-item-picture p-0" data-bs-toggle="modal" data-bs-target="#feedModal">
                                <% end %>
                                <!-- info -->
                                <div class="flex-grow-1 p-2 d-flex flex-column">
                                    <!-- user name -->
                                    <%= link_to("/passthrough/go_to_public_profile/" + al.user_id.to_s, method: :get, class: "d-flex align-items-center profileLink") do %>
                                        <div class="profile-picture-container bg-theme text-white me-2 ">
                                            NP
                                        </div>
                                        <div class="color-theme">
                                            <%= al.user.fname + " " + al.user.lname %>
                                        </div>
                                    <% end %>
                                    <!-- album title -->
                                    <div class="feed-item-title py-1">
                                        <%= al.title %>
                                    </div>
                                    <!-- album description -->
                                    <div class="feed-item-discription flex-grow-1">
                                        <%= al.description %>
                                    </div>
                                    <!-- footer -->
                                    <div class="d-flex justify-content-between mt-1">
                                        <!-- Heart -->
                                        <span>
                                            <!-- Like/Unlike button -->
                                            <% la = al.like_albums.where(user_id: current_user.id, album_id: al.id).first %>
                                            <%= render partial: "partials/buttons/like", locals: {liked: (la ? true : false), object_type: "album", object_id: al.id} %>
                                            <!-- Number of likes -->
                                            <span class="feed-item-footnote">
                                                <%= al.like_albums_count.nil? ? 0 : al.like_albums_count %>
                                            </span>
                                        </span>
                                        <!-- Update time -->
                                        <span class="feed-item-footnote">
                                            <%= p_datetime(al.created_at) %>
                                        </span>
                                    </div>
                                </div>
                            </div>                                
                        </div>

                    <% end %>
                </div>
            </div>


            
            <!-- Pagination -->
            <div class="mt-3 d-flex justify-content-center">
                <%== pagy_bootstrap_nav(@pagy) %>
            </div>
            
            

        </div>
    </div>
</div>



<!-- Feed item modal -->
<% @albums.each do |al| %>
    <div class="modal modal-center fade" id=<%= "feedAlbumModal_" + al.id.to_s %> tabindex="-1" aria-labelledby="feedAlbumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedAlbumModalLabel">
                        <%= al.title %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid text-center">                            
                        <div id=<%= "carouselFeedAlbumControls_" + al.id.to_s %> class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- Images inside modal -->
                                <% al.images.each_with_index do |img, idx| %>
                                    <div class="carousel-item <%= idx==0? "active" : "" %>">
                                        <%= image_tag img, class: "d-block feed-item-picture-modal" %>
                                    </div>
                                <% end %>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target=<%= "#carouselFeedAlbumControls_" + al.id.to_s %> data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target=<%= "#carouselFeedAlbumControls_" + al.id.to_s %> data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= al.description %>
                </div>
            </div>
        </div>
    </div>
<% end %>