<nav class="head-navigation-bar bg-theme navbar navbar-expand-sm py-1 sticky-top">
    <div class="container-fluid justify-content-start">
        <a class="navigation-bar-logo col-4 col-xl-2 px-1 px-xl-4 text-start text-xl-end" href="#">Fotobook</a>
        <div class="me-auto py-1 order-4 order-xl-2">
            <input type="search" placeholder="Search Photo / Album">
        </div>
        
        <a class="navigation-bar-profile d-flex align-items-center py-1 ms-auto ms-xl-0 me-3 me-xl-5 order-2 order-xl-3" href="#">
            <div class="profile-picture-container bg-light color-theme me-2">
                NP
            </div>
            <div>Nhan Pham</div>
        </a>
        <a class="navigation-bar-inout pe-2 order-3 order-xl-4" href="login.html">Logout</a>
        <button class="btn border order-5 d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapSideBar" aria-expanded="false" aria-controls="collapSideBar">
            <img src="/icon/menu-2-white.svg" alt="menu-icon">
        </button>                
    </div>
</nav>

        

<div class="main-background container-fluid">
    <div class="row pb-2">

        <!-- Side bar -->
        <div class="sideBar col-xl-2 mt-xl-3 d-xl-block position-fixed collapse bg-theme01" id="collapSideBar">
            <div class="d-flex flex-column align-items-center">
                <div class="py-2">
                    <%= render partial: "partials/blocks/side_bar", locals: {tab: "albums"} %>
                </div>                        
            </div>                    
        </div>


        <!-- Inside the feed -->
        <div class="col-xl-8 pb-2 mx-auto mt-3 bg-light row row-cols-1 justify-content-center">
            <!-- Statement and button -->
            <div class="py-2 d-flex justify-content-start">
                <div class="d-flex align-items-center">
                    <strong>Edit Album</strong>
                </div>                        
                <%= link_to "Back", "/admin/albums", type: "button", class: "btn btn-primary ms-auto border bg-theme" %>
            </div>
            <!-- Horrizone line -->
            <hr/>
            <!-- List of inputs -->
            <div class="container-fluid">
                
                
                <%= form_with(url: "/admin/albums/" + @album.id.to_s, method: :put, class: "row g-3") do |f| %>

                    <!-- Basic info -->
                    <div class="col-12 col-xl-6">
                        <div>Title</div>
                        <%= text_field_tag "title", @album.title, class: "form-control", placeholder: "Album Title", required: true, autofocus: true %>
                        <div>Sharing mode</div>
                        <%= select_tag "is_public", options_for_select([["Public", true], ["Private", false]], @album.is_public), class: "form-select" %>
                    </div>


                    <div class="col-12 col-xl-6">
                        <div>Description</div>
                        <%= text_area_tag "description", @album.description, class: "form-control", rows: "4", placeholder: "Album Description", required: true %>
                    </div>


                    <!-- Edit Images -->
                    <div class="col-12">
                        <div class="container-fluid p-0">
                            <div class="row g-3">

                                <!-- Images already in the albums -->
                                <% @album.images.each_with_index do |img, idx| %>
                                    <div class="col-auto">
                                        <div class="myPhotoItem position-relative">
                                            <!-- Image -->
                                            <% if img.representable? %>
                                                <%= image_tag img, class: "myPhotoItemImg" %>
                                            <% end %>
                                            <!-- discard "x" button -->
                                            <%= link_to "/admin/albums/" + @album.id.to_s + "/image/" + idx.to_s, method: :delete do %>
                                                <img class="editPhotoReviewCross position-absolute" src="/icon/cross-brown.svg" alt="...">
                                            <% end %>                                    
                                        </div>
                                    </div>
                                <% end %>

                                <!-- Additional image -->
                                <div class="col-auto">
                                    <div class="newPhotoReviewZone d-flex justify-content-center align-items-center bg-theme01" data-controller="photo-preview" onclick="document.getElementById('selectedFile').click();">
                                        <img class="newPhotoReviewIcon" src="/icon/plus-mini-grey.svg" alt="..." data-photo-preview-target="addIcon">
                                        
                                        <div class="d-none" data-photo-preview-target="previewSection">
                                            <img class="newPhotoReviewZone" alt="..." data-photo-preview-target="imagePreview"/>
                                        </div>

                                        <%= f.file_field :image, data: {photo_preview_target: "imageUploader", action: "photo-preview#updatePreview"}, id: "selectedFile", class: "d-none" %>
                                    </div>
                                </div>

                            </div>
                        </div>                        
                    </div>


                    <!-- Submit and delete buttons -->
                    <div class="col-12 actions">
                        <%= submit_tag "Save", class: "btn btn-primary btn-block bg-theme" %>
                        <%= link_to "Delete", "/admin/albums/" + @album.id.to_s, method: "delete", class: "btn btn-danger btn-block" %>
                    </div>




                <% end %>
            </div>


        </div>
    </div>
</div>