<%= render partial: "partials/blocks/navi_bar" %>

        

<div class="main-background container-fluid">
    <div class="row pb-3">

        <!-- Side bar -->
        <div class="sideBar col-xl-2 mt-xl-3 d-xl-block position-fixed collapse bg-theme01" id="collapSideBar">
            <div class="d-flex flex-column align-items-center">
                <div class="py-2">
                    <%= render partial: "partials/blocks/side_bar", locals: {tab: "profile"} %>
                </div>                        
            </div>                    
        </div>


        <!-- Inside the feed -->
        <div class="col-xl-8 pb-3 mx-auto mt-3 bg-light row row-cols-1 justify-content-center">
            <!-- Personal info -->
            <div class="container-fluid">
                <div class="row pt-2">
                    <div class="col-auto">
                        <% if @user.avatar.representable? %>
                            <%= image_tag @user.avatar, class: "myPhotoItemImg" %>
                        <% end %>
                    </div>
                    <div class="col-auto">
                        <div>
                            <%= render partial: "partials/buttons/follow", locals: {followers: @followers, user_id: @user.id} %>
                        </div>
                        <div>
                            <p class="fs-2 fw-bold">
                                <%= @user.fname.to_s + " " + @user.lname.to_s %>
                            </p>
                        </div>
                        <div>
                            <a type="button" class="btn btn-light border" href=<%= "/profile/" + @user.id.to_s + "/photos" %>>
                                <%= @user.photos_count.to_s + " Photos" %>
                            </a>
                            <a type="button" class="btn btn-success border" href=<%= "/profile/" + @user.id.to_s + "/albums" %>>
                                <%= @user.albums_count.to_s + " Albums" %>
                            </a>
                            <a type="button" class="btn btn-light border" href=<%= "/profile/" + @user.id.to_s + "/followees" %>>
                                <%= @user.followees_count.to_s + " Followings" %>
                            </a>
                            <a type="button" class="btn btn-light border" href=<%= "/profile/" + @user.id.to_s + "/followers" %>>
                                <%= @user.followers_count.to_s + " Followers" %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Horrizone line -->
            <div></div>
            <br>
            <hr>

            <!-- List of My Photo items -->
            <div class="container-fluid">
                <div class="row g-3">
                    <% @albums.each do |al| %>
                        <div class="col-auto">
                            <div class="myPhotoItem position-relative">
                                <!-- Image -->
                                <% if al.images[0].representable? %>
                                    <%= image_tag al.images[0], class: "myPhotoItemImg", data: {bs_toggle: "modal", bs_target: "#feedAlbumModal_" + al.id.to_s} do %>
                                    <% end %>
                                <% end %>

                                <!-- Header -->
                                <div class="myPhotoItemHeader position-absolute top-0 d-flex align-items-center">
                                    <div class="text-white px-2">
                                        <%= al.title %>
                                    </div>
                                </div>

                                <!-- Lock icon -->
                                <% if not al.is_public %>
                                    <div class="position-absolute p-2 bottom-0 end-0">
                                        <div class="d-flex p-1 bg-light rounded-circle">
                                            <img class="myPhotoItemLockIcon" src="/icon/lock.svg" alt="...">
                                        </div>
                                    </div>
                                <% end %>                                
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>


            
            <!-- Pagination -->
            <div>
                <%= paginate @albums %>
            </div>
            

        </div>
    </div>
</div>


<!-- Feed item modal -->
<% @albums.each do |al| %>
    <div class="modal modal-center fade" id=<%= "feedAlbumModal_" + al.id.to_s %> tabindex="-1" aria-labelledby="feedAlbumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedAlbumModalLabel">
                        <%= al.title %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid text-center">                            
                        <div id="carouselFeedAlbumControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- Images inside modal -->
                                <% al.images.each_with_index do |img, idx| %>
                                    <div class="carousel-item <%= idx==0? "active" : "" %>">
                                        <%= image_tag img, class: "d-block feed-item-picture-modal" %>
                                    </div>
                                <% end %>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeedAlbumControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselFeedAlbumControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= al.description %>
                </div>
            </div>
        </div>
    </div>
<% end %>


