<%= render partial: "partials/blocks/navi_bar" %>

        

<div class="main-background container-fluid">
    <div class="row pb-2">

        <!-- Side bar -->
        <div class="sideBar col-xl-2 mt-xl-3 d-xl-block position-fixed collapse bg-theme01" id="collapSideBar">
            <div class="d-flex flex-column align-items-center">
                <div class="py-2">
                    <%= render partial: "partials/blocks/side_bar", locals: {tab: "users"} %>
                </div>                        
            </div>                    
        </div>


        <!-- Inside the feed -->
        <div class="col-xl-8 mx-auto mt-3 bg-light row row-cols-1 justify-content-center">
            <!-- List of My Photo items -->
            <div class="container-fluid mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Last Login</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr>
                                <td><%= user.fname %></td>
                                <td><%= user.lname %></td>
                                <td><%= user.email %></td>
                                <td><%= user.last_sign_in_at %></td>
                                <td>
                                    <%= link_to "Edit", "/admin/users/" + user.id.to_s + "/edit", method: :get, class: "btn btn-success" %>
                                    <%= link_to "Delete", "/admin/users/" + user.id.to_s, method: :delete, class: "btn btn-danger" %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            
            <!-- Pagination -->
            

            

            <br>
            


        </div>
    </div>
</div>


