<!DOCTYPE html>
<html>
  <head>
    <title>Fotobook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>    

    <%= render partial: "partials/blocks/navi_bar" %>
    
    <!--
    <% if notice %>
      <div class="alert alert-success position-fixed end-0 alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    -->

    <% if alert %>
      <div class="alert alert-danger position-fixed end-0 alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if defined?(resource) %>
      <% if resource.errors.any? %>
        <div class="alert alert-danger position-fixed end-0 alert-dismissible fade show" role="alert">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>      
      <% end %>
    <% end %>
    


    <%= yield %>

    
    <!--
    <% if user_signed_in? %> 
      <div> Welcome <%= current_user.email %> </div> 
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <% else %>
      <%= button_to "Sign in", new_user_session_path %> 
    <% end %>

    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p>
    -->
    
  </body>
</html>
