<nav class="head-navigation-bar bg-theme navbar navbar-expand-sm py-1 sticky-top">
    <div class="container-fluid justify-content-start">
        <a class="navigation-bar-logo col-4 col-xl-2 px-1 px-xl-4 text-start text-xl-end" href="#">Fotobook</a>
        <div class="me-auto py-1 order-4 order-xl-2">
            <input type="search" placeholder="Search Photo / Album">
        </div>
        
        <a class="invisible navigation-bar-profile d-flex align-items-center py-1 ms-auto ms-xl-0 me-3 me-xl-5 order-2 order-xl-3" href="#">
            <div class="profile-picture-container bg-light color-theme me-2">
                NP
            </div>
            <div>Nhan Pham</div>
        </a>
        <a class="navigation-bar-inout pe-2 order-3 order-xl-4" href="login.html">Login</a>
        <button class="invisible btn border order-5 d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapSideBar" aria-expanded="false" aria-controls="collapSideBar">
            <img src="/icon/menu-2-white.svg" alt="menu-icon">
        </button>                
    </div>
</nav> 


<main>
    <div class="py-5 container">
        <div class="col-9 col-xl-6 mx-auto">
            <p class="hero-text-font color-theme text-center">Fotobook Signup</p>


            <div class="authen-form shadow px-3 pt-2">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <!-- error notice -->
                  <%= render "users/shared/error_messages", resource: resource %>

                  <!-- fname -->
                  <strong>First name</strong> <br>
                  <input type="text" class="form-control" placeholder="First name" required autofocus>

                  <!-- lname -->
                  <strong>Last name</strong> <br>
                  <input type="text" class="form-control" placeholder="Last name" required>

                  <!-- email -->
                  <strong>Email</strong> <br>
                  <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>

                  <!-- pass -->
                  <strong>New password</strong> <br>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>

                  <!-- pass confirm -->
                  <strong>Password confirmation</strong> <br>
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password", required: true %>

                  <!-- submit -->
                  <div class="d-flex justify-content-center p-3">
                      <%= f.submit "Signup", class: "btn btn-primary btn-block bg-theme" %>
                  </div>
                <% end %>
            </div>


        </div>
    </div>
</main>










<h2>Testing</h2>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
