<%= render partial: "partials/blocks/navi_bar" %>


<main>
    <div class="py-5 container">
        <div class="col-9 col-xl-6 mx-auto">
            <p class="hero-text-font color-theme text-center">Fotobook Signup</p>


            <div class="authen-form shadow px-3 pt-2">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <!-- error notice -->
                  <%= render "users/shared/error_messages", resource: resource %>

                  <!-- fname -->
                  <strong>First name</strong> <br>
                  <%= f.text_field :fname, class: "form-control", placeholder: "First name", required: true, autofocus: true %>

                  <!-- lname -->
                  <strong>Last name</strong> <br>
                  <%= f.text_field :lname, class: "form-control", placeholder: "Last name", required: true %>

                  <!-- email -->
                  <strong>Email</strong> <br>
                  <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>

                  <!-- pass -->
                  <strong>New password</strong> <br>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>

                  <!-- pass confirm -->
                  <strong>Password confirmation</strong> <br>
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password", required: true %>

                  <!-- submit -->
                  <div class="d-flex justify-content-center p-3">
                      <%= f.submit "Signup", class: "btn btn-primary btn-block bg-theme" %>
                  </div>
                <% end %>
            </div>


        </div>
    </div>
</main>








<!--

<h2>Testing</h2>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->